
<body>
<div>
	<%= form_tag :action => :create do %>
 		<p><%= label_tag :username, 'Username: ' %></p>
 		<%= text_field_tag :username %><br>

 		<p><%= label_tag :password, 'Password: ' %> </p>
 		<%= password_field_tag :password %><br>
 		<%= submit_tag 'Login' %>
 	<% end %>

</div>
<% flash.each do |key, value| %>
	<%= value %>
<% end %>


 </body>


